body {
    padding: 10px;
}


.listing {
    display: flex;
    flex-direction: row;    
    margin: 10px;
    border: 1px solid grey;
    cursor: pointer;
}

.active_listing_img {
    width: 25%;
    height: 25%;
}
