{% extends "auctions/layout.html" %}

{% block body %}
<div class="card-body">
    <h4> {{ listing.name}} </h4>
    <p> {{ listing.description }} </p>
    <p> Added by: {{ listing.owner }} </p>
    <img src="{{ listing.url}}" class="card-img-full">
    <div>
        {% if watchlist_state %}
        <form action="{% url 'watchlist' %}" method='post'>
            {% csrf_token %}
            <button type="submit" name="listing_id" value="{{ listing.id }}" class="btn btn-outline-success">Add to
                Watchlist</button>
        </form>
        {% else %}
        <form action="{% url 'watchlist' %}" method='post'>
            {% csrf_token %}
            <button type="submit" name="listing_id" value="{{ listing.id }}" class="btn btn-outline-warning">Delete from
                Watchlist</button>
        </form>
        {% endif %}
        <div>
        <form action="{% url close_bid %}" method='post'>
            {% csrf_token %}
            {% if user.username == listing.owner %}
                <button type="submit" name="listing_id" value="{{ listing.id }}" class="btn btn-outline-danger">Close bid</button>
            {% endif %}
        </form>
        </div>
    </div>
    <div>
        <h5>Starting price: {{ listing.starting_bid }} $</h5>
        <h5>There are {{bid_count}} bid(s). Curent max bid: {{ max_bid }} $</h5>
        <form action="{% url "active_listing" listing.id %}" method='post' class='bid'>
            {% csrf_token %}
            <div class='form-group'>
                {{ form }}
            </div>
            {% if err_message %}
            <div class='alert alert-danger'>
                {{ err_message }}
            </div>
            {% endif %}
            {% if succ_message %}
            <div class='alert alert-success'>
                {{ succ_message }}
            </div>
            {% endif %}
            <button type="submit" name="listing_id" value="bid_form" class="btn btn-success">Make a
                Bid</button>
            <input name="listing_id" type='hidden' value='{{ listing.id }}'>
        </form>
    </div>
</div>
{% endblock %}